@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Instrument+Serif&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "custom.css";

:root {
    --transition-duration: 250ms;
}

body {
  max-width: 640px !important;
}

.contact p a {
  text-decoration: underline !important;
}

h2 {
  position: relative;
  padding-inline-end: 1.5em;
}

h2:hover {
    cursor: pointer;
}

h2::after {
  color: inherit !important;
  background-color: currentColor !important;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI0IiBoZWlnaHQ9IjMzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMDAwIiBzdHJva2U9IiMwMDAiIHZpZXdCb3g9IjAgMCA1MjQgMzM0Ij4KICAgIDxwYXRoIGQ9Ik0zNi4wMDAwMDAsMzYuMDAwMDAwIEwyOTcuMDAwMDAwLDI5Ny4wMDAwMDAgIiBzdHJva2Utd2lkdGg9IjEwMC4wMDAwMDAiIC8+CiAgICA8cGF0aCBkPSJNNDg4LjAwMDAwMCwzNy4wMDAwMDAgTDIyNy4wMDAwMDAsMjk4LjAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxMDAuMDAwMDAwIiAvPgo8L3N2Zz4=");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI0IiBoZWlnaHQ9IjMzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMDAwIiBzdHJva2U9IiMwMDAiIHZpZXdCb3g9IjAgMCA1MjQgMzM0Ij4KICAgIDxwYXRoIGQ9Ik0zNi4wMDAwMDAsMzYuMDAwMDAwIEwyOTcuMDAwMDAwLDI5Ny4wMDAwMDAgIiBzdHJva2Utd2lkdGg9IjEwMC4wMDAwMDAiIC8+CiAgICA8cGF0aCBkPSJNNDg4LjAwMDAwMCwzNy4wMDAwMDAgTDIyNy4wMDAwMDAsMjk4LjAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxMDAuMDAwMDAwIiAvPgo8L3N2Zz4=");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: darkgreen !important;
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform var(--transition-duration) ease;
  z-index: 0;
}

h2.closed::after {
  transform: translateY(-50%) rotate(90deg);
}

.collapsible {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height var(--transition-duration) ease;
}

.collapsed {
  max-height: 0;
}